.chatBox {
  display: flex;
  /* border: 1px solid grey; */
  height: 100px;
  width: 70%;
  float:right;
}

.avatar {
  flex-grow: 0.3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  flex-grow: 0.5;
  /* background-color: blue; */
}
.textBox {
  flex-grow: 4;
  /* border: 1px solid grey; */
  background-color: rgb(199, 231, 243);
  border-radius: 10px;

}
.containertext {
  /* text-align: left; */
  background-color: #c5ebf0;
  /* width: 10px; */
}
.text{
      /* font-family: "Sans" */
}

