.muiPaper {
  width: 90%;
  /* margin-left: 180px;
  margin-right: 120px; */
  height: 750px;
}

/* Grids */
.sidePanel {
  background-color: rgb(7, 36, 63);
  color: rgb(161, 174, 187);
}

.contactPanel {
  background-color: rgba(233, 231, 247, 0.287);
}

.messagePanel {
  background-color: rgba(233, 231, 247, 0.287);
}

/* components */
/* 1. contact panel */
.contactPanelDiv {
  border-right: 1px solid rgba(203, 206, 206, 0.609);
  height: 100%;
}

.contactPanelHead {
  /* background-color: red; */
  height: 80px;
  width: 100%;
  padding-bottom: 30px;
}

.search {
  text-align: left;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
