/* .appBackground {
    width: 100%;
    height: 705px;
    padding: 70px 10%;
    background-color: rgb(168, 156, 238);
  }
  
  .muiPaper {
    width: 80%;
    height: 640px;
  } */
  .appBackground {
    width: 100%;
    height: 650px;
    padding: 50px;
    background-color: rgb(169, 200, 247);
  }
  
  .muiPaper {
    width: 70%;
    margin-left: 180px;
    margin-right: 120px;
    height: 640px;
  }
  
  
  .grid {
    display: grid;
    height: 640px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 640px;
  }
  
  .item1 {
    background-color: rgb(96, 149, 247);
    grid-column: 1/4;
  }
  
  .item2 {
    background-color: rgba(240, 247, 242, 0.938);
    grid-column: 4/12;
  }
  
  
  