.muiPaper {
  width: 80%;
  height: 800px;
}

.item1 {
  height: 100%;
  width: 100%;
  background-color: rgb(7, 36, 63);
  /* grid-column: 1/4; */
}

.item2 {
  height: 100%;
  width: 100%;
  background-color: rgba(240, 247, 242, 0.938);
  /* grid-column: 4/12; */
}
