.appBackground {
  display: flex;
  width: 100%;
  height: 910px;
  align-items: center;
  justify-content: center;
  background-color: rgb(171, 243, 243);
}

.muiPaper {
  width: 70%;
  margin-left: 180px;
  margin-right: 120px;
  height: 640px;
}
